.application {
  margin-top: 48px;
}

.code-line {
  display: flex;
  flex-direction: row;
}

.line-number {
  width: 64px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.code {
  font-family: "jet-brains-mono";
  font-weight: 256;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comment {
  background-color: var(--secondary-bg);
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.server {
  background: repeating-linear-gradient(
    45deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.comment > p {
  color: var(--primary-bg);
}

.local {
  background: repeating-linear-gradient(
    45deg,
    #555,
    #555 10px,
    #888 10px,
    #888 20px
  );
}

.comment__controls {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
